In [2]:
import pandas as pd
import numpy as np

In [5]:
files = ['businesses.csv', 'inspections.csv',
'violations.csv', 'businesses_partially_completed.csv']

In [6]:
bus = pd.read_csv(files[3])
bus.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude
0,0,10,TIRAMISU KITCHEN,033 BELDEN PL,San Francisco,CA,94104,37.791116,-122.403816
1,1,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547
2,2,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135
3,3,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004
4,4,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641

In [7]:
# # Fill in missing latitudes and longitudes
# from geopy.geocoders import Nominatim
# geolocator = Nominatim()
# bus_filled = pd.read_csv(files[0]).drop('phone_number', axis=1)
# j=0
# for i in bus.index:
#     restau = bus.ix[i]
#     if not restau['latitude'] > 0:
#         print j
#         j+=1
#         try:
#             location = geolocator.geocode(restau['address']+' San Francisco, California')
#             bus_filled.loc[i, 'latitude'] = location.latitude
#             bus_filled.loc[i, 'longitude'] = location.longitude
#         except:
#             print 'problem'

In [37]:
# bus_filled.to_csv('businesses_partially_completed.csv')

In [8]:
inspect = pd.read_csv(files[1])
inspect.head()

   business_id  score      date     type
0           10     94  20140729  routine
1           10     92  20140114  routine
2           19     94  20141110  routine
3           19     94  20140214  routine
4           19     96  20130904  routine

In [9]:
bus = bus.drop(['city', 'state'], axis=1)
bus.head()

,Unnamed: 0,business_id,name,address,postal_code,latitude,longitude
0,0,10,TIRAMISU KITCHEN,033 BELDEN PL,94104,37.791116,-122.403816
1,1,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",94109,37.786848,-122.421547
2,2,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",94104,37.792888,-122.403135
3,3,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,94133,37.807155,-122.419004
4,4,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,94110,37.747114,-122.413641

In [10]:
# Keep most recent inspection only
most_recent_scores = inspect.groupby('business_id').first().drop(['type', 'date'], axis=1)
most_recent_scores.head()

             score
business_id
10              94
19              94
24              96
31              98
45              78

In [11]:
bus_scores = pd.merge(bus, most_recent_scores, left_on='business_id', right_index=True, how='outer')

In [13]:
bus_scores.count()

Unnamed: 0     6162
business_id    6162
name           6162
address        6161
postal_code    5922
latitude       6162
longitude      6162
score          5515
dtype: int64

In [16]:
df = bus_scores.dropna()

In [17]:
df.head()

,Unnamed: 0,business_id,name,address,postal_code,latitude,longitude,score
0,0,10,TIRAMISU KITCHEN,033 BELDEN PL,94104,37.791116,-122.403816,94.0
1,1,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",94109,37.786848,-122.421547,94.0
2,2,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",94104,37.792888,-122.403135,96.0
3,3,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,94133,37.807155,-122.419004,98.0
4,4,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,94110,37.747114,-122.413641,78.0

In [19]:
import numpy as np


def distance(coords1, coords2):
    '''
    Distance between two latitude-longitude coordinates
    Good enough approsimation when the compared points are close-by
    '''
    return np.sqrt((coords1[0]-coords2[0])**2 + (coords1[1]-coords2[1])**2)

def gaussian_kernel(x, bw=1.):
    return np.exp(-(x/bw)**2)

def quartic_kernel(x, bw=1.):
    y = (x/bw)**2
    return 15/16. * (1-y)**2 * (y<1)

def weighted_distances(point, ref_coords, kernel='quartic', bw=1.):
    '''
    returns ker(d(point, ref_coords))
    '''
    ker = {'quartic': quartic_kernel, 'gaussian': gaussian_kernel}[kernel]
    distances = distance(point, ref_coords)
    return ker(distances, bw=bw)
    
def point_density(point, ref_coords, kernel='quartic', bw=1.):
    '''
    density of points, defined by `ref_coords`, around `point`
    '''
    w = weighted_distances(point, ref_coords, kernel=kernel, bw=bw)
    return np.sum(w)

def average_score(point, ref_coords, scores, kernel='quartic', bw=1.):
    '''
    Weighted average of `scores`, weighted by distance to `point`
    `ref_coords` are the latitudes and longitudes associated to `scores`
    '''
    w = weighted_distances(point, ref_coords, kernel=kernel, bw=bw)
    if w.sum()==0 and kernel=='quartic':
        return average_score(point, ref_coords, scores, kernel='gaussian', bw=bw)
    return np.sum(w*scores) / w.sum()

In [20]:
average_score((37.707972, -122.417700), (df['latitude'], df['longitude']), df['score'], bw=0.0001)

92.0

In [21]:
point_density((37.707972, -122.417700), (df['latitude'], df['longitude']), bw=0.01)

3.8324849599809268